#textdomain wesnoth-desertwar_addon

[unit_type]
    id=Bgbv90
    name="Bgbv90"
    movement=8
    hitpoints=110
    movement_type=ulty_vechicles
    image="units/Bgbv90.png"
    cost=23
    race=mechanical
    advances_to=null
    level=3
    experience=50
    canrecruit=yes
    [resistance]
    fire=65
    arcane=50
    blade=10
    impact=0
    pierce=10
    cold=200
    [/resistance]
    
    [abilities]
        {ABILITY_CURES}
        {HEALS 20}
        {ARMORED_VECHICLE}
    [/abilities]
    [attack]
        name=could wall
        type=fire
        range=ranged
        damage=0
        number=1  
        parry=40%
        icon="attacks/grenade.png"
    [/attack]
    [attack]
        name=could wall
        type=fire
        range=grenade
        damage=0
        number=1  
        parry=40%
        icon="attacks/grenade.png"
    [/attack]
[/unit_type]