#textdomain wesnoth-desertwar_addon

[unit_type]
    id=terminatorbmt
    name="Terminator-Bmt"
    movement=5
    hitpoints=140
    movement_type=armoredfoot
    image="units/terminatorbmpt.png"
    cost=20
    race=mechanical
    advances_to=null
    usage=healer
    heals=10
    level=3
    experience=50
    canrecruit=yes
    [abilities]

        {ARMORED_VECHICLE}
    
    [/abilities]
    [movement_costs]
    flat=1
    sand=1
    forest=1
    hills=2
    
    village=1
    castle=1
    cave=1
    frozen=1
    unwalkable={UNREACHABLE}
    fungus=1
    [/movement_costs]
    [resistance]
    fire=40
    arcane=50
    blade=10
    impact=0
    pierce=10
    cold=200
    [/resistance]

    [attack]
        name=2A42
        type=fire
        range=ranged
        damage=30
        number=3
        accuracy=50%  
        icon="attacks/działo.png"
    [/attack]

    [attack]
        name=PKT
        type=pierce
        range=ranged
        damage=2
        number=18   
        icon= "attacks/machinegun.png"
    [/attack]

    [attack]
        name=9M133
        type=cold
        range=missle
        damage=20
        number=1
        accuracy=90% 
        icon="attacks/rockemissle.png"
        [specials]

        {ANTITANKMISSLE 30}
        [/specials]
    [/attack]
    
    [attack]
        name=could wall
        type=fire
        range=ranged
        damage=0
        number=1  
        parry=50%
        icon="attacks/grenade.png"
    [/attack]

    [attack]
        name=AP system
        type=fire
        range=missle
        damage=0
        number=1  
        parry=130%
        icon="attacks/grenade.png"
    [/attack]

[/unit_type]