#textdomain wesnoth-units
[unit_type]
    id=duelistlv25
    name= _ "duelist Lv 25"
    race=human
    image="units/duelist25.png"
    profile="portraits/Path-of-Exile-Class-Duelist-Wallpaper_90.jpg"
    hitpoints=100
    movement_type=smallfoot
    movement=5
    experience=35
    level=1
    attacks=3
    alignment=neutral
    advances_to=
    cost=15
    usage=fighter
    description= _ "Some men without particular skills cannot or will not make an honest living. Those that attempt to make their way through life by the heavy end of a stick, are known as ‘Ruffians’. With enough luck and experience, they sometimes manage to avoid the imprisonment or death that awaits most of their colleagues."
    die_sound={SOUND_LIST:HUMAN_DIE}
     [abilities]
        [regenerate]
        value=40
        name="potion"
        [/regenerate]
    [/abilities]
    [movement_costs]
    flat=1
    sand=1
    forest=1
    hills=1
    mountains=1
    village=1
    castle=1
    cave=1
    frozen=1
    unwalkable={UNREACHABLE}
    fungus=1
    [/movement_costs]
    [attack]
        name=saber
        description= _ "saber"
        icon=attacks/saber-human.png
        type=blade
        range=melee
        damage=15
        number=2
        accuracy=75%
        parry=20%
    [/attack]
    [attack]
        name=Dual Stricke
        description= _ "Dual Stricke"
        icon=attacks/lightning.png
        type=arcane
        range=melee
        damage=22
        number=3
        accuracy=75%
        parry=20%
    [/attack]
[/unit_type]