#textdomain wesnoth-desertwar_addon

[unit_type]
    id=mim23
    name="Mim-23 Hawk"
    movement=5
    hitpoints=50
    movement_type=armoredfoot
    image="units/mim23hawk.png"
    cost=24
    race=mechanical
    advances_to=null
    level=3
    experience=50
    canrecruit=yes
    [resistance]
    fire=80
    arcane=50
    blade=10
    impact=0
    pierce=10
    cold=200
    [/resistance]
    [movement_costs]
    flat=1
    sand=1
    forest=1
    hills=2
    
    village=1
    castle=1
    cave=1
    frozen=1
    unwalkable={UNREACHABLE}
    fungus=1
    [/movement_costs]
    
    [abilities]
    {ARMORED_VECHICLE}
    [/abilities]

    

    [attack]
        name=AZP-23 
        type=impact
        range=missle
        damage=25
        number=3  
        accuracy=40%  
        icon="attacks/machinegun.png"
        [specials]
         {WEAPON_SPECIAL_FIRSTSTRIKE}
        {ANTIAIR 25}
        [/specials]
    [/attack]
    

[/unit_type]