#textdomain wesnoth-desertwar_addon

[unit_type]
    id=mim23
    name="Mim-23 Hawk"
    movement=5
    hitpoints=50
    movement_type=ulty_vechicles_whell
    image="units/mim23hawk.png"
    cost=22
    race=mechanical
    advances_to=null
    level=3
    experience=50
    canrecruit=yes
    
    
    [abilities]
    {ARMORED_VECHICLE}
    [/abilities]

    

    [attack]
        name=AZP-23 
        type=impact
        range=missle
        damage=25
        number=3  
        accuracy=40%  
        icon="attacks/machinegun.png"
        [specials]
         {WEAPON_SPECIAL_FIRSTSTRIKE}
        {ANTIAIR 25}
        [/specials]
    [/attack]
    

[/unit_type]