#textdomain wesnoth-units
[unit_type]
    id=rangerlv25
    name= _ "Ranger Lv 25"
    race=human
    image="units/ranger25.png"
    profile="portraits/humans/ruffian.png"
    hitpoints=70
    movement_type=smallfoot
    movement=5
    experience=30
    level=1
    attacks=3
    alignment=neutral
    cost=6
    usage=fighter
    description= _ "Some men without particular skills cannot or will not make an honest living. Those that attempt to make their way through life by the heavy end of a stick, are known as ‘Ruffians’. With enough luck and experience, they sometimes manage to avoid the imprisonment or death that awaits most of their colleagues."
    die_sound={SOUND_LIST:HUMAN_DIE}
      [abilities]
        [regenerate]
        value=40
        name="potion"
        [/regenerate]
    [/abilities]
    [movement_costs]
    flat=1
    sand=1
    forest=1
    hills=1
    mountains=1
    village=1
    castle=1
    cave=1
    frozen=1
    unwalkable={UNREACHABLE}
    fungus=1
    [/movement_costs]
    [attack]
        name=dagger
        description= _ "dagger"
        icon=attacks/dagger-human.png
        type=blade
        range=melee
        damage=10
        number=2
        accuracy=70%
        pear=30%
    [/attack]
    [attack]
        name=Rain of arow
        description= _ "Rain of arow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=22
        number=4
        accuracy=85%
        parry=30%
    [/attack]
    
[/unit_type]