#textdomain wesnoth-units
[unit_type]
    id=Scion
    name= _ "Scion"
    race=human
    gender=female
    image="units/scion.png"
    profile="portraits/humans/ruffian.png"
    hitpoints=55
    movement_type=smallfoot
    movement=5
    experience=200
    level=1
    attacks=3
    alignment=neutral
    advances_to=Scionlv25
    [abilities]
        [regenerate]
        value=20
        name="potion"
        [/regenerate]
    [/abilities]
    [movement_costs]
    flat=1
    sand=1
    forest=1
    hills=1
    mountains=1
    village=1
    castle=1
    cave=1
    frozen=1
    unwalkable={UNREACHABLE}
    fungus=1
    [/movement_costs]
    cost=6
    usage=fighter
    description= _ "Some men without particular skills cannot or will not make an honest living. Those that attempt to make their way through life by the heavy end of a stick, are known as ‘Ruffians’. With enough luck and experience, they sometimes manage to avoid the imprisonment or death that awaits most of their colleagues."
    die_sound={SOUND_LIST:HUMAN_DIE} {SOUND_LIST:HUMAN_HIT} }
     [abilities]
        [regenerate]
        value=20
        name="potion"
        [/regenerate]
    [/abilities]
    [attack]
        name=blade
        description= _ "blade"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=10
        number=2
        accuracy=60%
        parry=5%
    [/attack]
     [attack]
        name=special throw
        description= _ "special throw"
        icon=attacks/sword-human.png
        type=blade
        range=ranged
        damage=12
        number=3
        accuracy=60%
        parry=5%
    [/attack]
[/unit_type]