#textdomain wesnoth-desertwar_addon

[unit_type]
    id=stormoper
    name="Stormoper"
    movement=4
    hitpoints=29
    movement_type=elusivefoot
    image="units/szturmowiec9.png"
    cost=8
    race=human
    advances_to=null
    level=1
    experience=25
    canrecruit=yes
    [resistance]
    fire=100
    arcane=80
    blade=100
    impact=0
    pierce=80
    cold=0
    [/resistance]
    [movement_costs]
    flat=1
    sand=1
    forest=1
    hills=1
    mountains=1
    village=1
    castle=1
    cave=1
    frozen=1
    unwalkable={UNREACHABLE}
    fungus=1
    [/movement_costs]
    
    [attack]
        name=blaster
        type=fire
        range=ranged
        damage=10
        number=5
        accuracy=20%
        icon="attacks/blaster.png"
    [/attack]

    [attack]
        name=grenade
        type=fire
        range=grenade
        damage=20
        number=1 
        accuracy=30%
        icon="attacks/grenade.png"
    [/attack]
    
[/unit_type]