#textdomain wesnoth-desertwar_addon

[unit_type]
    id=t72
    name="T-72 Ural"
    movement=5
    hitpoints=120
    movement_type=armoredfoot
    image="units/t72.png"
    cost=24
    race=mechanical
    advances_to=null
    level=2
    experience=50
    canrecruit=yes
    [resistance]
    fire=50
    arcane=50
    blade=10
    impact=0
    pierce=10
    cold=200
    [/resistance]
    
    [abilities]
    {ARMORED_VECHICLE}
    [/abilities]

    [movement_costs]
    flat=1
    sand=1
    forest=1
    hills=2
    
    village=1
    castle=1
    cave=1
    frozen=1
    unwalkable={UNREACHABLE}
    fungus=1
    [/movement_costs]
    [attack]
        name=cannon
        type=fire
        range=ranged
        damage=55
        number=3
        icon="attacks/działo.png"
    [specials]
        {WEAPON_SPECIAL_MARKSMAN}
        [damage]
            cumulative=yes
            name=massive attack
            add=10
            description="massive attack for enemi"
            id=massiveattack
            active_on=offense
            apply_to=self
            [filter_self]
                [filter_adjacent]
                    [filter_wml]
                    [attack]
                        [specials]
                            [damage]
                                id=massiveattack
                            [/damage]
                        [/specials]
                    [/attack]
                    [/filter_wml]
                    count=1-2
                    is_enemy=no
                [/filter_adjacent]
            [/filter_self]
        [/damage]
    [/specials]
    [/attack]

    [attack]
        name=machinegun
        type=pierce
        range=ranged
        damage=3
        number=10  
        icon="attacks/machinegun.png"
    [/attack]

    [attack]
        name=could wall
        type=fire
        range=ranged
        damage=0
        number=1  
        parry=50%
        icon="attacks/grenade.png"
    [/attack]

[/unit_type]