#textdomain wesnoth-units
[unit_type]
    id=tempelar
    name= _ "Tempelar"
    race=human
    image="units/tempelar.png"
    profile="portraits/"
    hitpoints=60
    movement_type=smallfoot
    movement=5
    experience=400
    level=1
    alignment=neutral
    advances_to=tempelarlv25
    cost=15
    attacks=3
    usage=fighter
    description= _ "Some men without particular skills cannot or will not make an honest living. Those that attempt to make their way through life by the heavy end of a stick, are known as ‘Ruffians’. With enough luck and experience, they sometimes manage to avoid the imprisonment or death that awaits most of their colleagues."
    die_sound={SOUND_LIST:HUMAN_DIE}
     [abilities]
        [regenerate]
        value=20
        name="potion"
        [/regenerate]
    [/abilities]
    [movement_costs]
    flat=1
    sand=1
    forest=1
    hills=1
    mountains=1
    village=1
    castle=1
    cave=1
    frozen=1
    unwalkable={UNREACHABLE}
    fungus=1
    [/movement_costs]
    [attack]
        name=twu hand mace
        description= _ "twu hand mace"
        icon=attacks/mace.png
        type=blade
        range=melee
        damage=10
        number=2
        accuracy=50%
    [/attack]
    [attack]
        name=Glacial hammer
        description= _ "Glacial hammer"
        icon=attacks/frenzy.png
        type=cold
        range=melee
        damage=15
        number=2
        accuracy=50%
    [/attack]
[/unit_type]