#textdomain wesnoth-desertwar_addon

[unit_type]
    id=towrocNA
    name="Towed Rocket Altilery"
    movement=4
    hitpoints=70
    movement_type=elusivefoot
    image="units/towrocket.png"
    cost=6
    race=human
    advances_to=null
    level=1
    experience=25
    canrecruit=yes
    [resistance]
    fire=40
    arcane=80
    blade=100
    impact=0
    pierce=80
    cold=0
    [/resistance]
    [abilities]
     
     
     {ABILITY_AMBUSH}
     {ABILITY_NIGHTSTALK}
     {ABILITY_CONCEALMENT}
    
    [/abilities]
    [movement_costs]
    flat=2
    sand=2
    forest=2
    hills=1
    mountains=1
    village=1
    castle=1
    cave=2
    frozen=2
    unwalkable={UNREACHABLE}
    fungus=2
    deep_water=2
    reef=2
    swamp_water=2
    shallow_water=2
    [/movement_costs]
    
    
    [attack]
        name=rocket
        type=fire
        range=ranged
        damage=30
        number=3
        accuracy=10%
        icon="attacks/rockemissle.png"
        [specials]
         {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=rocket
        type=fire
        range=ranged
        damage=18
        number=9
        accuracy=10%
        icon="attacks/balistyka.png"
        
    [/attack]
    


[/unit_type]