#textdomain wesnoth-desertwar_addon

[unit_type]
    id=type89
    name="Type 89 IFV"
    movement=6
    hitpoints=125
    movement_type=IFV
    image="units/type89ifv.png"
    cost=24
    race=mechanical
    advances_to=null
    usage=healer
    heals=10
    level=3
    experience=50
    canrecruit=yes
    [abilities]
        {ABILITY_CURES}
        {HEALS 20}

       {ARMORED_VECHICLE}

    [/abilities]
    

    [attack]
        name=ATK mk 44
        type=fire
        range=ranged
        damage=25
        number=3
        accuracy=60%  
        icon="attacks/działo.png"
    [/attack]

    [attack]
        name=M240C
        type=pierce
        range=ranged
        damage=3
        number=16
        icon= "attacks/minigun.png"
    [/attack]

    [attack]
        name=BGM-71 TOW
        type=cold
        range=ranged
        damage=20
        number=1 
        accuracy=90% 
        icon="attacks/rockemissle.png" 
        [specials]
        {WEAPON_SPECIAL_FIRSTSTRIKE}
         {ANTITANKMISSLE 30}
        [/specials]
    [/attack]

    [attack]
        name=could wall
        type=fire
        range=ranged
        damage=0
        number=1  
        parry=50%
        icon="attacks/grenade.png"
    [/attack]

    [attack]
        name=FIM-92 Stinger
        type=impact
        range=ranged
        damage=50
        number=1 
        accuracy=90%
        icon="attacks/rockemissle.png" 
        [specials]
        {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
[/unit_type]